<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Northwind_Connection" connectionString="XpoProvider=MSSqlServer;data source=LAPTOP-E1J6KUU3\MEHBOOB_SQL14;integrated security=SSPI;initial catalog=Northwind" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>